<p id="notice"><%= notice %></p>

<h1>Starting Strength Journal</h1>

<table>
  <tbody>
    <%= form_for @routine do |f| %>
      <% @routine.weeks.each do |week| %>
      <tr>
        <td><h4><%= "Week " + week.position.to_s %></h4></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <tr>
          <% week.days.each do |day| %>
          <td>
            <table>
              <tr><th><%= day[:name] %></th></tr>
              <%= f.fields_for :exercises do |exercises_form| %>
                <% if day.exercises.include? exercises_form.object %>
                  <tr>
                    <td><%= exercises_form.object[:description] %></td>
                  </tr>
                  <tr>
                    <td><%= exercises_form.number_field :load %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </td>
          <% end %>
        </tr>
      <% end %>
      <% if @routine.weeks.any? %>
      <tr><td><%= f.submit "Save Records"%></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Week', create_week_path, method: :post %>
