<p><% if user_signed_in?%>
     <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to 'Log in', new_user_session_path %>
     &nbsp
     <%= link_to 'Register', new_user_registration_path %>
   <% end %></p>

<h1>Starting Strength Journal</h1>

<table>
  <tbody>
    <%= form_for @routine do |f| %>
      <% @routine.weeks.each do |week| %>
      <tr>
        <td><h4><%= "Week " + week.position.to_s %></h4></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <tr>
          <% week.days.each do |day| %>
          <td>
            <table>
              <tr><th><%= day[:name] %></th></tr>
              <%= f.fields_for :exercises do |exercises_form| %>
                <% if day.exercises.include? exercises_form.object %>
                  <tr>
                    <td><%= exercises_form.object[:description] %></td>
                  </tr>
                  <tr>
                    <td><%= exercises_form.number_field :load %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </td>
          <% end %>
        </tr>
      <% end %>
      <% if @routine.weeks.any? %>
      <tr><td><%= f.submit "Save Records"%></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= form_for @routine, html: { id: "change_routine_phase"} do |f| %>
  <%= f.select :phase, [["Press & Bench", PHASE_PRESS_BENCH], ["Power Clean", PHASE_POWER_CLEAN]], {}, { onchange: "$('#change_routine_phase').submit();" } %>
<% end %>


<%= link_to 'New Week', create_week_path, method: :post %>
